.watermelon-link{
    @apply text-2xl text-watermelon hover:text-green-600;
}

/* input */
.error {
  @apply border rounded bg-errorBg border-errorBorder text-errorColor;
}
.success {
  @apply border rounded bg-successbg border-successBorder;
}